.container-fluid {
  margin-top: 16px;
  height: 90%;
}

.sidebar {
  margin-bottom: 16px;
}

.map-container {
  height: 99%;
}

.map-card {
  height: 100%;
}

.sidebar div {
  margin-bottom: 16px;
}
