<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    GTFS Scheduler Viewer
  </a>
</nav>

<div class="container-fluid">
  <div class="row map-container">
    <div class="col-md-3 sidebar">
      <div>
        <h4>Agency</h4>
        <select class="custom-select" (change)="onAgencyChange($event)">
          <option value="" selected disabled hidden>choose one</option>
          <option *ngFor="let agency of agencies" [value]="agency.agencyId">{{agency.agencyName}}</option>
        </select>
      </div>

      <div>
        <h4>Routes</h4>
        <div class="list-group">
          <a href="#" *ngFor="let route of routes" [ngClass]="{'active': route === selectedRoute}" class="list-group-item list-group-item-action"
            (click)="onRouteClick($event, route)">{{route.routeLongName}}</a>
        </div>
      </div>

      <div>
        <h5>Trips for {{selectedRoute ? selectedRoute.routeLongName : ''}}</h5>
        <div class="list-group">
            <a href="#" *ngFor="let trip of trips" [ngClass]="{'active': trip === selectedTrip}" class="list-group-item list-group-item-action"
            (click)="onTripClick($event, trip)">{{trip.tripHeadsign}}</a>
          </div>
      </div>
    </div>

    <div class="col-md-9 map-container">
      <div #gmapRef class="paper-card map-card"></div>
    </div>
  </div>
</div>